.navbar-expand-lg {
    padding-top: 1em;
    padding-bottom: 2em;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    display: block;
    list-style-type: disc;
    margin-left: 8%;
    font-size: 24px;
    color: #3E3563 !important;
}

body{
    font-family: 'Poppins', sans-serif !important;
    color: #3E3563 !important;
}

h3{
    font-weight: 600;
}

.a{
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.2rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    margin-left: 0em;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;
}

#hacker {
    max-width: 100%;
    height: auto;
    margin-top: 3em;
}

.card {
    margin-left: 7em;
    margin-right: 7em;
}

.card-group {
    margin-top: 3em;
}

@media all and (max-width: 500px) {
    .card {
        margin-left: 2em;
        margin-right: 2em;
    }
}