#footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #3e3563 !important;
  font-family: 'Poppins';
  color: #fbf0dc;
  font-weight: 400;
}

a:focus, a:hover {
  color: #41beec;
}

